################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NUnitTests/.vs/NUnitTests
/NUnitTests/Calculator/bin/Debug/netstandard2.0
/NUnitTests/Calculator/obj
/NUnitTests/NUnitTests/bin/Debug/netcoreapp3.1
/NUnitTests/NUnitTests/obj
